# Игнорируем виртуальные окружения
venv/
.env

# Игнорируем файлы кэша Python
__pycache__/
*.py[cod]

# Логи и временные файлы
*.log
*.tmp

# IDE файлы (например, для VSCode, PyCharm)
.vscode/
.idea/